@page "/cameras"
@model DelphicGames.Pages.CamerasModel

@{
    ViewData["Title"] = "Камеры";
}

<div class="container my-4">
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="card-title">Камеры</h5>
                <div class="d-flex justify-content-end">
                    <input type="text" id="searchCameraInput" class="form-control me-2 w-auto" placeholder="Поиск камер...">
                    <button type="button" class="btn btn-success me-2" data-bs-toggle="modal"
                        data-bs-target="#addCameraModal">Добавить камеру</button>
                    <button type="button" class="btn btn-primary" id="exportExcelBtn">
                        Экспорт в Excel
                    </button>
                </div>
            </div>

            <!-- Таблица с камерами -->
            <div class="table-responsive">
                <table id="cameraTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Название камеры</th>
                            <th>URL-адрес</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-none">
                            <td>Пример камеры</td>
                            <td>https://example.com</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm me-2">Удалить</button>
                                <button type="button" class="btn btn-warning btn-sm edit-camera-button"
                                    data-bs-toggle="modal" data-bs-target="#editCameraModal">Изменить</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для добавления камеры -->
<div class="modal fade" id="addCameraModal" tabindex="-1" aria-labelledby="addCameraModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="addCameraModalLabel">Добавление камеры</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addCameraForm" method="post">
                    <div class="mb-3">
                        <label class="form-label text-secondary">Название камеры</label>
                        <input type="text" class="form-control" id="addCameraName" size="50" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-secondary">URL-адрес</label>
                        <input type="url" class="form-control" id="addCameraUrl" size="200" required>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-success me-2" id="addCameraButton">Добавить камеру</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Модальное окно для изменения камеры -->
<div class="modal fade" id="editCameraModal" tabindex="-1" aria-labelledby="editCameraModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="editCameraModalLabel">Изменить камеру</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editCameraForm" method="post">
                    <div class="mb-3">
                        <label class="form-label text-secondary" for="editCameraName">Название</label>
                        <input type="text" class="form-control" id="editCameraName" size="50" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-secondary" for="editCameraUrl">URL-адрес</label>
                        <input type="url" class="form-control" id="editCameraUrl" size="200" required>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-success" id="saveCameraChanges">Сохранить
                            изменения</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script src="js/cameras.js" asp-append-version="true"></script>
}