@page
@model DelphicGames.Pages.Index

@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<div class="container">
    <h1>Добро пожаловать на сайт управления трансляциями Дельфийских игр!</h1>

</div>