@page "/streams"
@model DelphicGames.Pages.StreamsModel

@{
    ViewData["Title"] = "Трансляции";
}

<div class="row col-md-12 col-xs-12" style="padding: 15px; margin: 0 auto;">
    <h3>Монитор трансляций</h3>
    <div class="card container col-sm-12" style="display: inline-block; border: none; margin: 0;">
        <div class="card-body table-responsive w-100 p-0">
            <table class="table table-light table-hover align-middle" id="main_table">
                <thead>
                    <tr class="table-light">
                        <th rowspan="2" class="table-light">Номинация</th>
                        <th rowspan="2" class="table-light">URL</th>
                        <th class="table-light platform_name">VK</th>
                        <th class="table-light platform_name">OK</th>
                        <th class="table-light platform_name">RT</th>
                        <th class="table-light platform_name">TG</th>
                    </tr>
                    <tr class="table-light">
                        <th class="table-light">
                            <input type="checkbox" id="vk_all" name="vk_all" data-id="">
                        </th>
                        <th class="table-light">
                            <input type="checkbox" id="ok_all" name="ok_all" data-id="">
                        </th>
                        <th class="table-light">
                            <input type="checkbox" id="rt_all" name="rt_all" data-id="">
                        </th>
                        <th class="table-light">
                            <input type="checkbox" id="tg_all" name="tg_all" data-id="">
                        </th>
                    </tr>
                </thead>

                <tbody id="table-body" class="table-group-divider">
                    <!-- Таблица будет заполнена данными из API ответа -->
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Head
{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    
    <style>
        input[type="checkbox"]{
            width: 15px;
            height: 15px;
        }
    </style>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    
    <script src="js/streams.js" asp-append-version="true"></script>
}