@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        Пожалуйста, проверьте свою электронную почту, чтобы подтвердить свою учетную запись.
    </p>
    <p>
        Если вы не получили письмо, проверьте папку спам или <a asp-page="ResendEmailConfirmation">запросите новое письмо</a>.
    </p>
}