@page
@model DelphicGames.Pages.Root.Users.DeleteModel

@{
    ViewData["Title"] = "Удалить пользователя";
}

<div class="container mt-4">
    <h1 class="mb-4">Удалить пользователя</h1>

    <form method="post">
        <p>Вы уверены, что хотите удалить пользователя @Model.User.UserName?</p>
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-page="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>